body {
   font-family: Arial, Helvetica, sans-serif;
   margin: 0;
   padding: 0;
   scroll-behavior: smooth;
  }
  
  html {
    box-sizing: border-box;
    
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }

  .card{
    background-color: lightgoldenrodyellow;
    margin-bottom: 20px;
  }

  .card-body{
    padding: 10px;
    text-align: center;
  }

  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
    .about-section{
      width: 100%;
      font-size: 16px;
    }
  }
  

  #profilepic{
    max-width: 300px;
    max-height: 300px;
    border-radius: 150px;
  }

  .projects-section {
    text-align: center; 
    padding-left: 5%;
    padding-right: 5%;
  }

  
  .container {
   
    text-align: left;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }

  #desc{
    width: 600px;
    text-align: justify;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  input[type=text], select, textarea {
    
    width: 50%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  /* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
#foot {
  border-radius: 5px;
  width: 100%;
  padding: 20px;
}

.footer{
  margin-top: 50px;
}

.labels{
  padding-top: 10px;
  padding-bottom: 5px;
}

.inputBox{
  width: 100%;
  text-align: center;
}

.labels{
  width: 100%;
}

.card-img-top{
  width: 350px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body {
    font-family: "Poppins", sans-serif;
    color: #444444;
}

a,
a:hover {
    text-decoration: none;
    color: inherit;
}

.section-projects .header h2 {
    font-size: 2.2rem;
    font-weight: 400;
    color: #444444; 
}

.section-projects .single-project {
    margin: 0 10px 50px 10px;

}

.section-projects .single-project .part-1 {
    position: relative;
    height: 290px;
    max-height: 290px;
    margin-bottom: 20px;
    overflow: hidden;
}

.section-projects .single-project .part-1::before {
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		transition: all 0.3s;
}

.section-projects .single-project:hover .part-1::before {
		transform: scale(1.2,1.2) rotate(5deg);
}

.section-projects #project-1 .part-1::before {
    background: url("pro.jpg") no-repeat center;
    background-size: cover;
		transition: all 0.3s;
}

.section-projects #project-2 .part-1::before {
    background: url("pro1.jpg") no-repeat center;
    background-size: cover;
}

.section-projects #project-3 .part-1::before {
    background: url("pro2.jpg") no-repeat center;
    background-size: cover;
}

.section-projects #project-4 .part-1::before {
    background: url("pro3.jpg") no-repeat center;
    background-size: cover;
}

.section-projects .single-project .part-1 .new {
    position: absolute;
    top: 15px;
    left: 20px;
    color: #ffffff;
    background-color: #fe302f;
    padding: 2px 8px;
    text-transform: uppercase;
    font-size: 0.85rem;
}

.section-projects .single-project .part-1 .new {
    left: 0;
    background-color: #444444;
}


.section-projects .single-project:hover .part-1 button {
    bottom: 30px;
    opacity: 1;
    display: inline-block;
    margin-right: 4px;
}

.section-projects .single-project .part-2 .project-title {
    font-size: 1rem;
}

.section-projects .single-project .part-2 h4 {
    display: inline-block;
    font-size: 1rem;
}

.section-projects .single-project .part-2 .project-old-subt {
    position: relative;
    padding: 0 7px;
    margin-right: 2px;
    opacity: 0.6;
}

.section-projects .single-project .part-2 .project-old-subt::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #444444;
    transform: translateY(-50%);
}


/* navbar regular css start */
.navbar-area {
  background: rgba(0,0,0,.6);
  border-bottom: 1px solid #000;
}
.site-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
a.site-logo {
  font-size: 26px;
  font-weight: 800;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
}
.site-navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.site-navbar ul li a {
  color: #fff;
  padding: 20px;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
}
.site-navbar ul li a:hover {
  background: rgba(255,255,255,.1);
}
/* navbar regular css end */


/* nav-toggler css start */
.nav-toggler {
  border: 3px solid #fff;
  padding: 5px;
  background-color: transparent;
  cursor: pointer;
  height: 39px;
  display: none;
}
.nav-toggler span, 
.nav-toggler span:before, 
.nav-toggler span:after {
  width: 28px;
  height: 3px;
  background-color: #fff;
  display: block;
  transition: .3s;
}
.nav-toggler span:before {
  content: '';
  transform: translateY(-9px);
}
.nav-toggler span:after {
  content: '';
  transform: translateY(6px);
}
.nav-toggler.toggler-open span {
  background-color: transparent;
}
.nav-toggler.toggler-open span:before {
  transform: translateY(0px) rotate(45deg);
}
.nav-toggler.toggler-open span:after {
  transform: translateY(-3px) rotate(-45deg);
}
/* nav-toggler css start */


/* intro-area css start */
.intro-area {
  height: calc(100vh - 61px);
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
}
.intro-area h2 {
  font-size: 50px;
  font-weight: 300;
  line-height: 50px;
  margin-bottom: 25px;
}
.intro-area p {
  font-size: 18px;
}
/* intro-area css end */


/* mobile breakpoint start */
@media screen and (max-width: 767px) {
  .container {
    max-width: 720px;
  }
  .card {
		z-index: -1;
    position: relative;
  }
  /* navbar css for mobile start */
  .nav-toggler{
    display: block;
  }
  .site-navbar {
    min-height: 60px;
  }
  .site-navbar ul {
    position: absolute;
    width: 100%;
    height: calc(100vh - 60px);
    left: 0;
    top: 60px;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #444;
    background-color: rgba(0,0,0,.75);
    max-height: 0;
    overflow: hidden;
    transition: .3s;
  }
  .site-navbar ul li {
    width: 100%;
    text-align: center;
  }
  .site-navbar ul li a {
    padding: 25px;
  }
  .site-navbar ul li a:hover {
    background-color: rgba(255,255,255,.1);
  }
  .site-navbar ul.open {
    max-height: 100vh;
    overflow: visible;
  }
  .intro-area h2 {
    font-size: 36px;
    margin-bottom: 15px;
  }  
  /* navbar css for mobile end */
}
/* mobile breakpoint end */